/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

:root {
  --primary-color: #2656a3;
  --white-color: #ffffff;
  --black-color: #000000;
  --Dark-grayish-red: #8c8b8b;
  --pure-orange: #ff6600;
  --Soft-orange: #edbb53;
  --Very-dark-blue: #365569;
  --Strong-lime-green: #45d325;
  --Moderate-blue: #519cc5;
}
