<header class="main_header {{class}}">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="logo" *ngIf="!isBack">
      <img src="assets/images/logo.svg" />
    </div>
    <div class="back_btn" *ngIf="isBack" (click)="goBack()">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </div>
    <div class="title">
      <h1>{{ title }}</h1>
    </div>
    <div class="reponsive_menu">
      <button
        class="navbar-toggler"
        type="button"
        aria-controls="navbar-menu"
        aria-label="Toggle navigation"
        (click)="toggleMenu()"
        [attr.aria-expanded]="!menuHidden"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
          <span translate>Home</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/travel" routerLinkActive="active">
          <span translate>Travel</span>
        </a>
      </div>
    </div>
  </nav>
</header>
